html {
    font-size: 62.5%
}

.page-wrapper {
    min-width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
}

.form-wrapper {
    max-width: 600px;
}

form {
    font-size: 2rem
}

input[type=text],
input[type=email],
input[type=password] {
    font-size: 1.8rem;
}

.btn {
    font-size: 2rem;
    padding: 6px 20px;
}

.form-validation {
    margin-top: 16px;
}

.form-title {
    font-size: 3.2rem;
    margin-bottom: 60px;
}

.form-logo {
    margin-bottom: 60px;
}